/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 9:17:37 AM
    Author     : hfischer
*/
.grid{
    width: 100%;
    height:100%;
    background-color: blue;
}

.gridcommand{
    width: 60%;
    height:300px;
}

.inputfield{
    width:200px;
}

.settingsgrid{
    width: 30%;
    height:40%;
}

.addresssize{
    width:30px;
}

.panelgroup{
    width: 80%;
    text-align:  right;
    display:block;
}

.picker{
    margin:0px;
    width: 100px;
}

.pegasus{
    margin: 60px;
}

.buttonStyle{
    width:  200px;
    height: 50px;
    margin: 10px;
}

.colorStyle{
    width: 100%;
    height:10%;
    margin:20px;
}

.commandbuttonstyle{
    width: 300px;
    height: 50px;
    margin: 20px;
    margin-right: 20px;    
}
.colorPickerStyle{
    
}


.h_inputTextid{
    width:20%;
    height:20px;
}
